# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SWE final project hotelblue ocean\Hotel Blue Ocean\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
